* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F021B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: #FFFFFF;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-weight: 700;
  line-height: 42.2px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
}

.container {
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container h1 {
  margin-bottom: 10px;
  color: #FFFFFF;
}
.container .settings {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .settings .all-settings {
  width: 100%;
  max-width: 1089px;
  border: 1px solid #694A81;
  color: #D7D5EB;
  padding: 35px 30px;
  background-color: #180828;
}
.container .settings .all-settings h3 {
  font-size: 28px;
  font-family: "Roboto Mono", monospace;
  text-align: left;
  font-weight: 500;
  margin-bottom: 35px;
}
.container .settings .all-settings .content-all-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container .settings .all-settings .content-all-child .content-child {
  display: flex;
  flex-direction: column;
  width: 31%;
  text-align: left;
}
.container .settings .all-settings .content-all-child .content-child .title-child {
  color: #8A87AA;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.container .settings .all-settings .content-all-child .content-child #length {
  width: 85px;
  height: 55px;
  border: 1px solid #694A81;
  background: #2C1746;
  color: #8A87AA;
  font-size: 24px;
  padding: 10px;
}

@media (max-width: 798px) {
  .container {
    width: 100%;
  }
  .container .content-all-child {
    flex-direction: column;
    gap: 15px;
  }
  .container .content-all-child .content-child {
    width: 100% !important;
  }
  .container .settings .all-settings h3 {
    font-size: 22px;
  }
}
.button-container {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 30px;
  z-index: 1;
}
.button-container button {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  padding: 0;
  cursor: pointer;
}
.button-container button img {
  width: 32px;
  height: 32px;
}

.copy-bottom {
  background-color: #FD58FF;
  color: #0F021B;
  font-size: 22px;
  border-radius: 2px;
  padding: 10px 12px;
  border: none;
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  cursor: pointer;
}

@media (max-width: 1168px) {
  .button-container {
    gap: 12px;
    right: 3%;
  }
  .button-container button img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .button-container button img {
    width: 15px;
    height: 15px;
  }
}
.generator {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.generator input[type=text] {
  width: 100%;
  max-width: 1089px;
  height: 111px;
  padding: 0 110px;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
  border: none;
  border-bottom: 5px solid #FD58FF;
  background: #2C1746;
  color: #FFFFFF;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}
@media (max-width: 1168px) {
  .generator input[type=text] {
    font-size: 28px;
  }
}
.generator .input-container {
  position: relative;
  width: 100%;
}
.generator .label-password {
  color: #8A87AA;
  font-size: 20px;
  position: absolute;
  left: 7%;
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  gap: 30px;
  z-index: 1;
}
.generator input[type=text]:focus + .label-password,
.generator input[type=text]:not(:placeholder-shown) + .label-password {
  font-size: 14px;
}

@media (max-width: 798px) {
  .generator input[type=text] {
    padding: 0 75px;
    font-size: 15px;
  }
  .generator .label-password {
    left: 2%;
  }
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: #2C1746;
  border-radius: 4px;
  margin-bottom: 25px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
  background: #2C1746;
}

input[type=range]::-moz-range-track {
  height: 8px;
  border-radius: 4px;
  background: #2C1746;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #ffffff, #ffffff) no-repeat;
  background-size: var(--slider-progress-width) 100%;
}

input[type=range]::-moz-range-track {
  background: linear-gradient(to right, #ffffff, #ffffff) no-repeat;
  background-size: var(--slider-progress-width) 100%;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #8A87AA;
}

.custom-checkbox .checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #2C1746;
  border: 1px solid #694A81;
}

.custom-checkbox .checkbox-input:checked ~ .checkmark {
  background-color: #FFFFFF;
  border: none;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox .checkbox-input:checked ~ .checkmark::after {
  display: block;
  left: 8px;
  top: 2px;
  width: 7px;
  height: 14px;
  border: solid #0F021B;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.strength-bar {
  position: relative;
  height: 32px;
  background-color: #2C1746;
  overflow: hidden;
  margin-bottom: 10px;
}

.strength-fill {
  height: 100%;
  width: 0;
  background-color: transparent;
  transition: width 0.3s;
}

.strength-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.strength-labels span {
  font-size: 20px;
  color: #8A87AA;
}

.strength-weak .strength-fill {
  width: 33.33%;
  background-color: #E71B32;
}

.strength-medium .strength-fill {
  width: 66.66%;
  background-color: #FAF408;
}

.strength-strong .strength-fill {
  width: 100%;
  background-color: #00FF85;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #8A87AA;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
