@import 'utils/variables';
@import 'base/reset';
@import 'layout/container';
@import 'components/buttons';
@import 'components/input';
@import 'components/range';
@import 'components/checkbox';
@import 'components/slider';
@import 'components/toast';

body {
    background-color: $color-background-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: $font-primary;
}
