* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: $font-primary;
}
