@import '../utils/variables';

.custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: $font-weight-normal-medium;
    color: $color-label;
}

.custom-checkbox .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $color-input-background;
    border: 1px solid $color-border-add;
}

.custom-checkbox .checkbox-input:checked ~ .checkmark {
    background-color: $color-text-white;
    border: none;
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox .checkbox-input:checked ~ .checkmark::after {
    display: block;
    left: 8px;
    top: 2px;
    width: 7px;
    height: 14px;
    border: solid $color-background-secondary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
