.generator {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  input[type="text"] {
    width: 100%;
    max-width: 1089px;
    height: 111px;
    padding: 0 110px;
    font-size: 40px;
    font-family: $font-mono;
    border: none;
    border-bottom: 5px solid $color-border;
    background: $color-input-background;
    color: $color-text-white;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative;

    @media (max-width: 1168px) {
      font-size: 28px;
    }
  }

  .input-container {
    position: relative;
    width: 100%;
    max-width: 1089px;
  }

  .label-password {
    color: $color-label;
    font-size: 20px;
    position: absolute;
    left: 5%;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    gap: 30px;
    z-index: 1;
  }

  input[type="text"]:focus + .label-password,
  input[type="text"]:not(:placeholder-shown) + .label-password {
    font-size: 14px;
  }
}

@media (max-width: 798px) {
  .generator {
    input[type="text"] {
      padding: 0 75px;
      font-size: 15px;
    }

    .label-password {
      left: 2%;
    }
  }
}
