
// Cores principais
$color-background-primary: #ecf0f1;
$color-background-secondary: #0F021B;
$color-text-primary: #333;
$color-text-white: #FFFFFF;

// Cores de elementos e feedbacks
$color-input-background: #2C1746;
$color-label: #8A87AA;
$color-border: #FD58FF;
$color-error: #E71B32;
$color-warning: #FAF408;
$color-success: #00FF85;

// Cores adicionais
$color-gray-light: #D7D5EB;

// Fontes
$font-primary: 'Roboto', sans-serif;
$font-mono: 'Roboto Mono', monospace;

// Tamanhos de fontes
$font-size-h1: 32px;
$font-size-h2: 24px;

// Peso das fontes
$font-weight-bold: 700;
$font-weight-normal: 400;

// Altura das linhas
$line-height-h1: 42.2px;
$line-height-h2: 28.13px;
