$color-background-primary: #ecf0f1;
$color-background-secondary: #0F021B;
$color-text-primary: #333;
$color-text-white: #FFFFFF;

$color-input-background: #2C1746;
$color-dark: #180828;
$color-label: #8A87AA;
$color-border: #FD58FF;
$color-red: #E71B32;
$color-warning: #FAF408;
$color-success: #00FF85;

$color-gray-light: #D7D5EB;
$color-border-add: #694A81;

$font-primary: 'Roboto', sans-serif;
$font-mono: 'Roboto Mono', monospace;



$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-normal-medium: 500;

$line-height-h1: 42.2px;
$line-height-h2: 28.13px;
