@import '../utils/variables';

h1, h2 {
    color: $color-text-white;
}

h1 {
    font-family: $font-mono;
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    line-height: $line-height-h1;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: $font-primary; 
    font-size: $font-size-h2;
    font-weight: $font-weight-normal;
    line-height: $line-height-h2;
    text-align: center;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1 {
        margin-bottom: 10px;
        color: $color-text-white;
    }
}