@import "../utils/variables";

h1,
h2 {
  color: $color-text-white;
}

h1 {
  font-family: $font-mono;
  font-size: 32px;
  font-weight: $font-weight-bold;
  line-height: $line-height-h1;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: $font-primary;
  font-size: 24px;
  font-weight: $font-weight-normal;
  line-height: $line-height-h2;
  text-align: center;
}

.container {
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1 {
    margin-bottom: 10px;
    color: $color-text-white;
  }

  .settings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .all-settings {
      width: 100%;
      max-width: 1089px;
      border: 1px solid $color-border-add;
      color: $color-gray-light;
      padding: 35px 30px;
      background-color: $color-dark;
      h3 {
        font-size: 28px;
        font-family: $font-mono;
        text-align: left;
        font-weight: $font-weight-normal-medium;
        margin-bottom: 35px;
      }

      .content-all-child {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .content-child {
          display: flex;
          flex-direction: column;
          width: 31%;
          text-align: left;

          .title-child {
            color: $color-label;
            font-size: 24px;
            font-weight: $font-weight-normal-medium;
            margin-bottom: 20px;
          }

          #length {
            width: 85px;
            height: 55px;
            border: 1px solid $color-border-add;
            background: $color-input-background;
            color: $color-label;
            font-size: 24px;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 798px) {
    .container {
        width: 100%;
        .content-all-child {
            flex-direction: column;
            gap: 15px;
    
            .content-child {
                width: 100% !important;
            }
        }

        .settings .all-settings h3 {
            font-size: 22px;
        }
    }
}